[submodule "Carthage/Checkouts/Curry"]
	url = https://github.com/thoughtbot/Curry.git
	path = Carthage/Checkouts/Curry
[submodule "Carthage/Checkouts/Result"]
	url = https://github.com/antitypical/Result.git
	path = Carthage/Checkouts/Result
[submodule "Carthage/Checkouts/ReactiveSwift"]
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
	path = Carthage/Checkouts/ReactiveSwift
[submodule "Carthage/Checkouts/Runes"]
	url = https://github.com/thoughtbot/Runes.git
	path = Carthage/Checkouts/Runes
[submodule "Carthage/Checkouts/Argo"]
	url = https://github.com/thoughtbot/Argo.git
	path = Carthage/Checkouts/Argo
